"@import "css/style.css";@charset "UTF-8";"
*{
	margin : 0;
	padding : 0;
	display : block;
	
}

html,body{

	height : 100%;
	margin : 0;
}
title{
	display : none;
}
ul, li{
	list-style : none;
}

#nav_drawer{
	position : relative;
	float : left;
	margin-left : 2%;
	margin-top : 0.7%;
	width : 1%;
	top : 0px;
	border-radius : 1px;
}

#head{
	display : block;
	background-color : #CE0000;
	text-align : center;
	border : 0px solid #0066CC;
}

#logo{
	margin : 0px;
}

#search_div{
	position : relative;
	display : inline-block;	
	width : 35%;
	left : 10px;
	top : -6px;
}

#search_span{
	position : relative;
	display : inline-block;
	text-align : left;
	width : 97%;
}
#input_search_text{
	position : relative;
	display : inline-block;
	padding : 2px;
	font-size : 16px;
	width : 80%;
	border-top-left-radius : 4px;
	border-bottom-left-radius : 4px;
	border : 0px;

}
#hiddenDiv{
	display : none;
}
::-webkit-input-placeholder {
   color: #ffb2b5;
	padding : 10px;
}

#input_search_button{
	position : relative;
	display : inline-block;
	width : 10%;
	height : 3.4%;
	left : -8px;
	top : 6px;
	border-top-right-radius : 4px;
	border-bottom-right-radius : 4px;
	
}

#signup_div{
	position : relative;
	display : inline-block;
	float : right;
	width : 10%;
	color : white;
	top : 0px;
}

#input_signup_image{
	position : relative;
	display : inline-block;
	height : 3%;
	top : 8px;
	border-radius : 3px;
}

#signup_span{
	display : inline-block;
	position : relative;
	top : 6px;
	margin-left : 5px;
}

header{
	position : relative;
	margin-left : -30%;
	margin-top  : 0.5%;
	color : white;
	display : inline-block;
	border-top-right-radius : 10px;
	border-bottom-right-radius : 10px;
	overflow : hidden;
	
}

#body{
	display : inline-block;
	background-color : #FFD9D9;/*#F9F5E3;*/
	overflow : hidden;
	width : 100%;
	height : 100%;
}
#right_body{
	display : inline-block;
	position : relative;
	margin-left : 10%;
	width : 50%;
	overflow-y : auto;
	vertical-align: top;
	max-height: 92%;
}
#left_body{
	display : inline-block;
	position : relative;
	margin-left : 2%;
	width : 30%;
}
#debug_body{
	position : fixed;
	display : block;
	background : red;
	width : 70%;
	height : 100%;
	left : 50%;
	top : 0%;
	overflow: auto;
}

#middle_section{
	background-color : #FFD9D9;
	font-size : 25px;
	margin-top : 0%;
}

#optionType{
	display : block;
	border : 1px solid red;
}
#optionDiv{
	display : block;
	border : 1px solid blue;
	padding : 10px;
}

.innerCategoryDiv{
	display : block;

}
.categoryNameDiv{
	display : inline-block;
	width : 20%;
}
.categoryOptionsDiv{
	display : inline-table;
	width : 78%;
}
.edge_middle_section{
	font-size : 25px;
	margin-top : 0%;
	display : block;
}
.addpost_prompt{
	color : rgba(0, 0, 0, 0.9);
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 27.5px;
	
}
.addpost_div{
	background-color : #F9F5E3;
	display : block;
	margin : 2px;
	margin-top : 2.1%;
	border-radius : 5px;
	padding : 3%;
}
.categoryDiv{
	background-color : #F9F5E3;
	display : block;
	margin : 2px;
	margin-top : 1%;
	border-radius : 5px;
	padding : 1%;
}
.option{
	display : inline-table;
}
.option input{
	display : inline-table;
}
.searchButton{
	padding : 20px;
	background-color: #ffb2b5;
}
#animButton{
	padding : 10px;
	background-color: antiquewhite;
}
.edge_writeup{
	background-color : #F9F5E3;
	display : block;
	margin : 3%;
	margin-top : 5%;
	border-radius : 5px;
	padding : 3%;
}
.rangeClass{
	width : 15%;
}
